# Maven build directory
target/

# IDE files
.idea/
*.iml
*.ipr
*.iws

# Compiled class files
*.class

# Package files
*.jar
*.war
*.ear

# Maven specific files
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

# Logs
log/
*.log

# Exclude specific large files
parcel-demand-estimation/Project USEfUL XT/Verflechtungsprognose2030/ketten-2010.csv
parcel-demand-estimation/Project USEfUL XT//Verflechtungsprognose2030/ketten-2030.csv

# Exclude entire output folder
phd/output/
phd/sim-input/
phd/sim-output/

# Exclude vs code settings
.vscode/

# Exclude target folder
/target

# Exclude Shapefiles and associated formats
*.shp
*.shx
*.dbf
*.prj
*.sbn
*.sbx
*.cpg
*.qpj
*.shp.xml
*.fix
parcel-demand-estimation/Project USEfUL XT/Verflechtungsprognose2030/ketten-2030.csv
parcel-demand-estimation/Project USEfUL XT/hochrechnung_kommentiert.py
