# Maven build directory
target/

# IDE files
.idea/
*.iml
*.ipr
*.iws

# Compiled class files
*.class

# Package files
*.jar
*.war
*.ear

# Maven specific files
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

# Logs
log/
*.log

# Exclude specific large files
pakethochrechnung/Verflechtungsprognose2030/ketten-2010.csv
pakethochrechnung/Verflechtungsprognose2030/ketten-2030.csv

# Exclude entire output folder
phd/output/
phd/sim-input/
phd/sim-output/

# Exclude vs code settings
.vscode/

# Exclude target folder
/target